body {
    
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);

}

.p {
   
    overflow-wrap: break-word;

}

h1 {
    
    font-size: 1em;

}

h2 {
    
    font-family: Arial ;
    font-size: 1.5em;
    color: rgb(71, 194, 243);  

}

h3 {
    
    font-family: Arial; /* Police d'écriture */
    font-size: 1.5em ; /* Taille de la police */
    color: #ffffff /*rgb(71, 194, 243);*/

}

.cv-container {
    
    display: inline-flex; /* Permet de mettre côte à côte 2 div */

}

.gauche {
    
    background-color: rgb(34, 83, 148);
    color: white;
    text-align: left;
    padding: 50px; /*  Espace intérieur pour éviter que le texte ne touche les bords dans la div */  
    overflow:hidden;

}

.droite {
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;

}

.header {
   
    padding: 50px;
    background-color: #7e7e7e;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-size: 2em;

}

.bas-droite {
   
    padding: 50px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;

}

.text-blue {
    
    color: #4472c4;

}

.text-black {
    
    color: black;

}

.text-réduit {
   
    font-size: 100%;

}

@media screen and (max-width : 600px) {
    .cv-container {
        padding: 10px;
    }
}
/*
.portrait {
   
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    
}
*/
