body{ /* Permet de modifier l'endroit des 5 boutons */
    text-align: center;
    overflow-wrap: break-word;
    background-color: rgba(175, 175, 175, 0.803);
}

p , .list {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 1.5em;
}
.collapsible { /* Modifier Bouton */
  background-color: #313131;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%; /* Taille bouton */
  text-align: center;
  outline: none;
  border: none;
  font-size: 25px;
}

.active, .collapsible:hover {
  background-color: #555;
}
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content { /* Texte intérieur bouton */
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-width: 5px; /* Texte dans bouton */
  width: 47.5%;
  margin: 0 auto;
  display: block;
  text-align: left;
  border: 0.5px solid black;
}

.Navbar-Gauche {
    width: 10%; /* Ajustez la largeur de la partie gauche de la barre de navigation */
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid white;
}

.Navbar-Gauche a{ /* Texte dans la navbar à gauche */
  text-decoration: none; /* Supprime les soulignements des liens */
  color: rgb(255, 255, 255); /* Change la couleur du texte des liens */
  font-size: 50px;
}

.Navbar-Droite{
    width: 90%; /* Ajustez la largeur de la partie droite de la barre de navigation */
    background-color: rgb(0, 0, 0);
    text-align: right;
    display: flex;
    justify-content: none; /* Répartit les éléments de manière égale dans l'espace disponible */
    align-items: center; /* Centre verticalement les éléments */
    padding-right: 2vw;
    box-sizing: border-box; /* Inclut le padding dans la largeur et hauteur de l'élément */
    border: 2px solid white;
}

.Navbar-Droite a{ /* Texte dans la navbar à droite */
    text-decoration: none; /* Supprime les soulignements des liens */
    color: rgb(255, 255, 255); /* Change la couleur du texte des liens */
    margin-left: 150px;
    font-size: 20px;
}

.Tout{
    padding-top: 55px;
}

.Navbar-Div{
    position: fixed !important; /* Afin que lorsqu'on scrolle, la navbar reste */
    top: 0; /* Aligne la barre de navigation en haut de la fenêtre */
    left: 0;  /* Aligne la barre de navigation à gauche de la fenêtre */
    width: 100%; /* Fait en sorte que la barre de navigation occupe toute la largeur */
    z-index: 100; /* Mettre au-dessus des autres éléments */
    display: flex;
    align-items: top;  /* Centre verticalement les éléments */
    text-align: right;
}

@media screen and (max-width:600px){
  .Navbar-Div{
    display: none;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
  } 
#diplome li { /* avec id et enfant */
    font-size: 15px;
    padding: 0px 20px 10px 0px;
  }
#propos .list {
  font-size: 15px;
  display: block;
  overflow-wrap: break-word;
}
#propos p{
  display:flex;
  font-size: 15px;
  padding-bottom: 15px;
}
#trouver .content a {
  font-size: 5px;
  justify-content: space-between;
}

#competence .content{
  padding-top: 10px;
}
}